-# edit.html.haml using partial
%link(rel="stylesheet" type="text/css" href="edit.css")
%h3 Edit Existing Song

= form_tag song_path(@song), :method => :put do

  = label :song, :title, 'Title: '
  = text_field :song, 'title'
  %br

  = label :song, :artist, 'Artist: '
  = text_field :song, 'artist'
  %br

  = label :song, :album, 'Album: '
  = text_field :song, 'album'
  %br

  = label :song, :tags, 'Tags: '
  = text_field :song, 'tags'
  %br
  %br

  = submit_tag 'Update Song Info'
