-# edit.html.haml using partial
%link{href: "http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css", rel: "stylesheet", type: "text/css"}/
%script{charset: "utf-8", src: "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js", type: "text/javascript"}
%script{charset: "utf-8", src: "/js/tag-it.js", type: "text/javascript"}

%div{:style=>'margin-left:25px; margin-right:25px'}
  %h3 Edit Existing Song

  = form_tag song_path(@song), :multipart => true, :method => :put do

    = label :song, :title, 'Title: '
    = text_field :song, 'title'
    %br

    = label :song, :artist, 'Artist: '
    = text_field :song, 'artist'
    %br

    = label :song, :tags, 'Tags: '
    %ul#myTag
      - if not @song.tags.nil?
        - @song.tags.split(', ').each do |tag|
          %li= tag
    %br

    
    = label :song, :file, 'Attach Lyrics: '
    = file_field :song, 'file'
    %br
    %br
    
    = submit_tag 'Update Song Info', :id => 'submit_song', :class => 'btn btn-warning'


:javascript
  $(document).ready(function() {
      $("#myTag").tagit({
        removeConfirmation: true,
        allowSpaces: true,
        singleField: true
      });
  });