-#  This file is app/views/songs/view.html.haml
- if flash[:notice]
  #notice.message{:class=> 'alert'}= flash[:notice]

%h1 Results
= form_tag songs_view_path, :remote => true, :method => :get do
  = select_tag :search_type, options_for_select([["Title","Title"], ["Artist", "Artist"], ["Album" ,"Album"], ["Tags","Tags"], ["Lyrics", "Lyrics"],["Playlists","Playlists"]], params[:search_type]), :class => 'selectpicker'
  = text_field_tag 'search_text', nil, :placeholder => 'Enter text here', :style => 'width: 500px'
  = submit_tag "Search", :class => 'btn btn-primary btn-lg', :style => 'margin-bottom: 10px'

%div
  %table#songs{:class => "table table-striped"}
    %col{:width => "180"}
    %col{:width => "180"}
    %col{:width => "150"}
    %col{:width => "350"}
    %thead
      %tr
        %th Title
        %th Artist
        %th Album
        %th Tags
        %th View
        %th Edit
        - if not current_user.nil?
          %th Playlist
    %tbody#song_list
      = render :collection => @songs, :partial => 'songs/song'
%div#paginate
  = render :partial => 'songs/pagination'
