-#  This file is app/views/songs/view.html.haml
%h1 Results

%table#songs{:class => "table table-striped"}
  %thead
    %tr
      %th Title
      %th Artist
      %th Album
      %th Tags
      %th View
      %th Edit
  %tbody
    - @songs.each do |song|
      %tr
        %td= song.title
        %td= song.artist
        %td= song.album
        %td= song.tags
        %td= link_to "View", song_path(song)
        %td= link_to "Edit", edit_song_path(song)