-#  This file is app/views/songs/view.html.haml
= form_tag playlist_index_path, :remote => true, :method => :get do
  = text_field_tag 'search_text', nil, :placeholder => 'Search for Playlists', :style => 'width: 500px'
  = submit_tag "Search", :class => 'btn btn-primary btn-lg', :style => 'margin-bottom: 10px'
%div
  %table#playlist{:class => "table table-striped"}
    %thead
      %tr
        %th Playlists
        %th Songs
        %th View
    %tbody#playlist_list
      = render :collection => @playlists, :partial => 'playlist/playlist'
%div#paginate
  = render :partial => 'playlist/pagination'