-#  This file is app/views/playlist/show.html.haml

%h1= @playlist.name
  
%div{:style => 'float:left'}
  %table#playlists{:class => "table table-striped"}
    %thead
      %tr
        %th Title
        %th Artist
        %th Album
    %tbody#playlist_list
      -@songs.each do |song|
        %tr{:id => "song_#{song.id}"}
          %td= song.title
          %td= song.artist
          %td= song.album

%div
  blah
