-#  This file is app/views/playlist/show.html.haml
- if flash[:notice]
  #notice.message{:class=> 'alert'}= flash[:notice]

%h1= @playlist.name
  
%div{:style => 'float:left'}
  %table#playlists{:class => "table table-striped"}
    %thead
      %tr
        %th Title
        %th Artist
        %th Album
    %tbody#playlist_list
      - if not @songs.nil?
        - @songs.each do |song|
          %tr{:id => "song_#{song.id}", :class => "clickableRow"}
            %td= song.title
            %td= song.artist
            %td= song.album
  = form_tag action: 'share', method: 'post' do
    = label :playlist, :emails, 'Emails: '
    = text_field_tag :emails
    %br
    = submit_tag 'Share Playlist Info', :id => 'share_playlist', :class => 'btn btn-warning'

%div#songList{:style => "float:left;margin-left: 30px"}

:javascript
  $(".clickableRow").click(function() {
    id = parseInt($(this).attr("id").slice(5))
    $.ajax({
      url: '/playlists/viewSong?id=' + id
      
    }).done(function(data) {
      $('#songList').html(data)
    })
  });

