<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Gracetunes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="wrap">

      <!-- Begin page content -->
   <div class="container">
  <div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="/">GraceTunes</a>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav">
          <li><%= link_to "Browse Songs", songs_view_path %></li>
          <li><%= link_to "Browse Sets", '/playlist' %></li>
          <% if current_user.try(:admin?) %>
            <li><%= link_to "Add a song", new_song_path,:id => "AddSongs" %></li>
          <%end%>
          <% if current_user.try(:admin?) %>
            <li><%= content_tag :a, :id => "AddPlaylists", :style => 'cursor: pointer', "data-target" => "#myModal", "data-toggle" => "modal" do -%>
              Add a Playlist
            <% end -%>
                </li>
          <%end%>
        </ul>
        <ul class="nav" style="float:right">
          <li><% if current_user %>
            <% if current_user.admin? %>
              <h5>Welcome <%= current_user.name + " Admin" %></h5>
            <% else %>
              <h5>Welcome <%= current_user.name %></h5>
              <li><%= link_to "Make Admin", '/user/edit'%>
            <%end%>
            <li><%= link_to "Sign out", '/signout' %></li>
          <% else %>
            <%= link_to "Sign in", '/auth/google_oauth2'%>
          <% end %>
          </li>
        </ul>
      </div>
      <div class="modal fade" style="display:none" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Add new Playlist</h4>
            </div>
            <div class="modal-body">
              <%= form_tag new_playlist_path do -%>
                <%= label_tag "Name: "%>
                <%= text_field_tag 'playlist_name', nil, :placeholder => 'Enter text here', :style => 'width: 90%' %>
        
               
            </div>
            <div class="modal-footer">       
              <button type="submit" class="btn btn-primary">Create</button>
              <% end -%>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div>

    </div>
  </div>
</div>
  <div id="block"></div>
  <div id="addnewplaylistform" style="width: 30%; margin-left: auto; margin-right: auto; height: auto; padding: 10px; display:none">
    <%= form_tag new_playlist_path do -%>
      <%= label_tag "Name: "%>
      <%= text_field_tag 'playlist_name', nil, :placeholder => 'Enter text here', :style => 'width: 90%' %>
      <%= submit_tag "Create New", :class => 'btn btn-primary'%>
      <%= button_tag "Cancel", :id => 'cancelPlaylist', :class => 'btn btn-primary'%>
      <% end -%>
  </div>

        
      <%= yield %>
</div>
</div>
    <div id="footer">
      <div class="container">
        <p class="text-muted credit"><a href="http://www.gracepointonline.org/pages/contact/">Contact Us </a>   &nbsp;  &nbsp;
                                     <a href="http://www.gracepointonline.org/pages/contact/">Report A Problem</a>
                                     <br>Gracepoint – Berkeley 1275 Harbor Bay Parkway Alameda, CA 94502</p>
      </div>
    </div>
    
    
</body>
</html>
